.container {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    overflow-x: hidden;

}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FACA84;
}

.img-header {
    width: 30%;


}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;    
    font-size: 100px;
}

.footer p a {
    font-size: 100px;
    margin: 10px;
}

.fraseText {
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

.fraseStyle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #FACA84;
    margin-bottom: 5px;

}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.img {
    width: 65%;
    border-radius: 10px;
    padding: 5px;

}

.imgFrase {
    width: 15%;
    margin-bottom: 15px;
}

.titulo {
    font-size: 160px;
    margin: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre {
    font-size: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.textStyle {
    font-family: revert;
    text-align: justify;
    font-size: 120px;
}

.pStyle {
    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 3%
}

.btn {
    color: black;
    font-size: 18px;
    padding: 14px 25px;
    cursor: pointer;
    border-radius: 5px;
}


.espacio {
    background-color: #FCF0EF;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 100%
}

.mapContainer {
    width: 100%;
    padding: 10px;

}

.location {
    font-size: 35px;
}

.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(232, 194, 243, 0.7);
    overflow: hidden;
    transition: height 0.3s ease;

}

.display-block {
    height: 100%;
    /* Muestra el modal ocupando toda la altura */
}

.modal-main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* Centrar horizontalmente */
    width: 80%;
    /* Ancho del modal */
    max-width: 500px;
    /* Ancho máximo del modal */
    background-color: white;
    /* Color del contenido del modal */
    padding: 20px;
    border-radius: 10px;
    transition: transform 1.2s ease;
    /* Agregar transición suave */
}


.close {

    font-size: 30px;
    border: 1 px solid black;
}

.short-button {
    width: 20%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    border: 1px solid rgb(32, 29, 29);
    border-radius: 30px;
    background-color: rgb(247, 238, 202);
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.logo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logoEscuela {
    width: 18%;
    margin-bottom: 10px;
}

.big-button {
    width: 100%;
    color: black;
    /* border: 1px solid #f8a5d3; */
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 200px;
    line-height: 350px;
    box-shadow: inset 0 0 35px 35px rgba(241, 198, 223, 0.781);
    margin: 25px 0px 25px 0px;
}

.certificado {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;

}

.imgcert {
    width: 80%;
    margin-bottom: 5px;

}

.cerrar-btn {
    text-decoration: none;
    width: 50%;
    margin-top: 15px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #fce9cd;
    margin: 50px;
    justify-content: center;

}

.info-container {
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    border-radius: 20px;

}

.info-icon {
    width: 5%;
}

.ulStyle {
    padding-left: 50px;
    width: 100%;
    margin-inline-start: 5px;
}

.info-text {
    font-size: 70px;
    text-align: left;
}

.lista-info {
    padding-left: 50px;

}

.whatsapp-icon {
    width: 5%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    transition: transform 0.3s ease-out;
    animation: shine 2s infinite;
}

.lugares {
    display: flex;
    flex-direction: column;
    padding: 3px;
    align-items: center;
}

.tipos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    padding: 10px;

}

.item-tipo {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 100px;
    text-align: center;
    background: radial-gradient(circle at center, #f7e2eb, #fcb1c4);

}

.item-tipoPpal {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 100px;
    text-align: center;
    background: radial-gradient(circle at center, #6facf1, #c0d0fc);
}

.tarifas {
    display: flex;
    align-items: center;
    
    font-size: 100px;
}

.igIcon {
    width: 35%;
    
}

h3,
h4 {
    margin-inline-start: 5px;
    line-height: 1px;
}

@keyframes shine {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

@media (max-width: 600px) {

    .short-button {
        margin-top: 10px;
        border-radius: 5px;
        width: 35%;
    }

    .cerrar-btn {
        width: 8%;
        margin-top: 5px;
    }
    .info-text,
    .titulo,
    .textStyle,
    .location {
        font-size: 11px;
    }

    .tarifas,
    .item-tipo,
    .item-tipoPpal,
    .info-container,
    .textStyle,
    .footer p,
    .fraseText {
        font-size: 16px;
    }

    .footer p {
        margin: 5px 0;
    }

    .img-header {
        width: 50%;
    }

    .big-button,
    .short-button,
    .nombre,
    .titulo {
        font-size: 20px;
    }

    .ulStyle {
        padding-left: 15px;
    }

    .big-button {
        line-height: 60px;
        margin: 2px 0px 5px 0px;
        box-shadow: inset 0 0 5px 5px rgba(250, 177, 238, 0.781); 
        ;
    }
    .imgFrase,
    .igIcon,
    .whatsapp-icon {
        width: 10%;
    }

    .info {
        margin: 10px;
    }


}